.cad_form {
	display: flex;
	
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: space-evenly;
 	-ms-justify-content: space-evenly;
 	-o-justify-content: space-evenly;
 	-webkit-justify-content: space-evenly;
 	justify-content: space-evenly;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
 
}

.ficha {
	list-style: none;
	padding: 1vw;
	margin: 0.5vw;
	
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: space-evenly;
 	-ms-justify-content: space-evenly;
 	-o-justify-content: space-evenly;
 	-webkit-justify-content: space-evenly;
 	justify-content: space-evenly;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
}

.botaoLink {
	background: linear-gradient(to bottom right, #135186, #276eb3);
	align-self: flex-end;
	text-decoration: none; 
	color: white;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 2vw;
}

.botaoLinkIcon {
	background: linear-gradient(to bottom right, #135186, #276eb3);
	text-decoration: none; 
	color: white;
	border-radius: 3px;
}

/* #tabela{ */
/* 	display: -ms-flexbox;  */
/*  	display: -moz-flexbox; */
/*  	display: -webkit-flex; */
/*  	display: -o-flex; */
/*  	display: flex; */
 	
/* 	-moz-flex-flow: row nowrap; */
/*  	-ms-flex-flow: row nowrap; */
/*  	-o-flex-flow: row nowrap; */
/*  	-webkit-flex-flow: row nowrap; */
/*  	flex-flow: row nowrap; */
	
/*    	-moz-justify-content: center; */
/*  	-ms-justify-content: center; */
/*  	-o-justify-content: center; */
/*  	-webkit-justify-content: center; */
/*  	justify-content: center; */
 	
/*  	width: 80vw; */
/* } */

.linha{
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
	
   	-moz-justify-content: flex-start;
 	-ms-justify-content: flex-start;
 	-o-justify-content: flex-start;
 	-webkit-justify-content: flex-start;
 	justify-content: flex-start;
 	
 	 -moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
 	
 	width: 80vw;
 	padding: 1vw;
}

/* .tabela{ */
/* 	display: -ms-flexbox;  */
/*  	display: -moz-flexbox; */
/*  	display: -webkit-flex; */
/*  	display: -o-flex; */
/*  	display: flex; */
 	
/* 	-moz-flex-flow: row nowrap; */
/*  	-ms-flex-flow: row nowrap; */
/*  	-o-flex-flow: row nowrap; */
/*  	-webkit-flex-flow: row nowrap; */
/*  	flex-flow: row nowrap; */
	
/*    	-moz-justify-content: center; */
/*  	-ms-justify-content: center; */
/*  	-o-justify-content: center; */
/*  	-webkit-justify-content: center; */
/*  	justify-content: center; */
 	
/*  	width: 80vw; */
/* } */

/* Configurações do Step */

.ui-steps .ui-steps-item {
    width: 50%;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
	margin-top: 0;
    margin-bottom: 5vw;
    width: 100%;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #326daf;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
}
 
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}

.ui-steps.custom .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    padding: 0;
}


/* Configurações do PanelGrid */

.ui-panelgrid {
	border-collapse: separate !important;	
}

.ui-widget-header {
    border: none;
    background: white;
    font-weight: inherit;
    text-shadow: none;
}

.ui-panelgrid.ui-widget {
	border: 1px solid lightgray;
    background: white;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-style:none !important;
	padding: 0.5vw 3vw !important;	
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}
}

.ui-widget-content {
    border: none;
    background: rgba(255,255,255,0.8);
    color: #4f4f4f;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    font-weight: normal;
    box-shadow: none;
}

.ui-inputfield .ui-state-focus, .ui-widget-content .ui-inputfield-state-focus {
    box-shadow: none;
}

/* Calendario */

.date{
width: 100%;
display: flex;
}

.ui-datepicker {
    background-color: white;
    box-shadow: none !important;
    border: 1px solid lightgray;
}
    
.ui-datepicker .ui-datepicker-header {
    background-color: white;
}
    
/* Outros */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border-radius: 0;
    border-color: #d2d6de;
    background-color: #fff;    
    padding: 3px;    
    color: #555;    
    background-image: none;
}

.ui-widget-header .ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus{
	box-shadow: none;
}

.ui-radiobutton .ui-radiobutton-box {
    width: 10px !important;
    height: 10px !important;
    line-height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border: 1px solid #d2d6de !important;
    cursor: pointer !important;
    right: -24px !important;
    top: -1px !important;
    padding: 0 3px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 60% !important;
}

.ui-button-icon-only{
	padding: 0 !important;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
    border: 1px solid #156090;
    background: #186ba0;
    color: #fff;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-hover {
    background: #ebebeb;
    border: none;
    box-shadow: none;
}

.ui-selectonemenu.ui-state-default.ui-state-hover{
	box-shadow:none;
}

.ui-radiobutton-icon {
    margin-left: -3px !important;
    margin-top: -4px;
}

.ui-overlaypanel {
    background-color: white;
    box-shadow: none !important;
    border: 1px solid lightgray;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	background: linear-gradient(to bottom right, #135186, #276eb3);
    color: white;
    border: none;
    border-radius: 3px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	font-weight: normal;
}

.ui-selectonemenu-panel {
	box-shadow: none !important;
    border: 1px solid lightgray;
    border-top: none;
}

.ui-datalist .ui-datalist-header, .ui-datalist .ui-datalist-footer {
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #124a7b;
    border-radius: 0;
    font-weight: bold;
    background-color: #1c5e96;
    color: white;
}

.ui-datalist.ui-widget {
    width: 25vw;
}