body{
	margin: 0;	
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	background: url("#{resource['img/background.jpg']}") !important;
	background-position: top;
	background-size: auto 100%;
	background-attachment: fixed;
/* 	background: red !important; */
}