#content {
    min-height: 80.5vh;
}

.cad_form {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
	
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: space-evenly;
 	-ms-justify-content: space-evenly;
 	-o-justify-content: space-evenly;
 	-webkit-justify-content: space-evenly;
 	justify-content: space-evenly;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
}

.ficha {
	list-style: none;
	padding: 1vw;
	margin: 0.5vw;
	
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: space-evenly;
 	-ms-justify-content: space-evenly;
 	-o-justify-content: space-evenly;
 	-webkit-justify-content: space-evenly;
 	justify-content: space-evenly;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
}

.box {
	padding: 1.5em;
	margin-bottom: 1vh;
	margin-top: 1vh;
	
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: flex-start;
 	-ms-justify-content: flex-start;
 	-o-justify-content: flex-start;
 	-webkit-justify-content: flex-start;
 	justify-content: flex-start;
	
 	-moz-align-items: flex-start;
 	-ms-align-items: flex-start;
 	-o-align-items: flex-start;
 	-webkit-align-items: flex-start; 
 	align-items: flex-start;
 	
 	border: 1px solid silver;
    background: white;
    
    width: 100%;
    width: -webkit-fill-available;   
}

.box label {
	color: #1a568c;
	margin-top: 20px;
}

.tituloBox {
	color: #1a568c;
	font-size:25px;
	margin-bottom: 15px;
	
	-moz-align-self: center;
 	-ms-align-self: center;
 	-o-align-self: center;
 	-webkit-align-self: center; 
 	align-self: center;
 	
 	text-align: center;
}

.box p {
	color: #707070;
	font-size:15px;
	
	text-align: center;
}

.box a {
	text-decoration: none;
}

.box a:hover {
/* 	font-weight: bold; */
}

.box a:hover i {
/* 	font-size: 2.5em; */
}

.inline {
	display: -ms-inline-flexbox; 
 	display: -moz-inline-flexbox;
 	display: -webkit-inline-flex;
 	display: -o-inline-flex;
 	display: inline-flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
 	
/*     -moz-align-items: baseline; */
/*  	-ms-align-items: baseline; */
/*  	-o-align-items: baseline; */
/*  	-webkit-align-items: baseline;  */
/*  	align-items: baseline; */
 	
    -moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;

/*  	-moz-justify-content: space-between; */
/*  	-ms-justify-content: space-between; */
/*  	-o-justify-content: space-between; */
/*  	-webkit-justify-content: space-between;  */
/*  	justify-content: space-between; */
}

.column {
	display: -ms-inline-flexbox; 
 	display: -moz-inline-flexbox;
 	display: -webkit-inline-flex;
 	display: -o-inline-flex;
 	display: inline-flex;
 	
	-moz-flex-flow: column nowrap;
 	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-flex-flow: column nowrap;
 	flex-flow: column nowrap;
 	
    -moz-align-items: baseline;
 	-ms-align-items: baseline;
 	-o-align-items: baseline;
 	-webkit-align-items: baseline; 
 	align-items: baseline;
}

.align {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
 	
 	-moz-justify-content: center;
 	-ms-justify-content: center;
 	-o-justify-content: center;
 	-webkit-justify-content: center;
 	justify-content: center;
	
}

.botaoLink {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
	
	background: linear-gradient(to bottom right, #135186, #276eb3);
	align-self: flex-end;
	text-decoration: none; 
	color: white !important;
	padding: 10px;
	border-radius: 3px;
	margin: 0;
    
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
	
    align-items: center;
}

.botaoLinkIcon {
	background: linear-gradient(to bottom right, #135186, #276eb3);
	text-decoration: none; 
	color: white !important;
	padding: 0.1vw 0.45vw;
	border-radius: 3px;
	flex-flow: row nowrap;
	word-wrap: normal; 
}

.ui-state-disabled {
	background:#c4c4c4;
}

.blankSquareBtn .ui-state-disabled  {
	background: none;
}

.ui-tooltip {
	max-width: 300px !important;
	text-align: justify;
/* 	background-color: red; */
}


/* #tabela{ */
/* 	display: -ms-flexbox;  */

/*  	display: -moz-flexbox; */
/*  	display: -webkit-flex; */
/*  	display: -o-flex; */
/*  	display: flex; */
 	
/* 	-moz-flex-flow: row nowrap; */
/*  	-ms-flex-flow: row nowrap; */
/*  	-o-flex-flow: row nowrap; */
/*  	-webkit-flex-flow: row nowrap; */
/*  	flex-flow: row nowrap; */
	
/*    	-moz-justify-content: center; */
/*  	-ms-justify-content: center; */
/*  	-o-justify-content: center; */
/*  	-webkit-justify-content: center; */
/*  	justify-content: center; */
 	
/*  	width: 80vw; */
/* } */

.linha{
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
	
   	-moz-justify-content: flex-start;
 	-ms-justify-content: flex-start;
 	-o-justify-content: flex-start;
 	-webkit-justify-content: flex-start;
 	justify-content: flex-start;
 	
 	 -moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
 	
 	width: 80vw;
 	padding: 1vw;
}

.divBtn {
	margin: 1em 0;
    width: 100%;
    
    display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
 	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
    
    -moz-justify-content: space-between;
 	-ms-justify-content: space-between;
 	-o-justify-content: space-between;
 	-webkit-justify-content: space-between;
 	justify-content: space-between;
}

/* Configurações do Step */

.ui-steps.dois .ui-steps-item {
    width: 50%;
}

.ui-steps.tres .ui-steps-item {
    width: 33%;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
	margin-top: 0;
    margin-bottom: 5vw;
    width: 100%;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: 100 !important;
}
 
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}

.ui-steps.custom .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    padding: 0;
}


/* Configurações do PanelGrid */

.ui-panelgrid {
	border-collapse: separate !important;	
}

.ui-widget-header {
    border: none;
    background: white;
    font-weight: inherit;
    text-shadow: none;
}

.ui-panelgrid.ui-widget {
	border: 1px solid lightgray;
    background: white;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-style:none !important;
	padding: 0.5vw 1vw !important
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
    width: auto;
}

.ui-grid-responsive{
	border: none;
}

.blank.ui-panelgrid, .blank.ui-widget-content.ui-panelgrid, .blank.ui-widget-content {
	border: none;
	background: none !important;
}

.blank .ui-panelgrid .ui-panelgrid-cell {
	padding: 0 !important;
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
	align-self: center;
}

/* ============================= */

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    font-weight: normal;
    box-shadow: none;
    padding: 0;
    width: -webkit-fill-available;
}

.ui-inputfield {
	margin: 0 !important;
}

.ui-inputfield .ui-state-focus, .ui-widget-content .ui-inputfield-state-focus {
    box-shadow: none;
}

/* Calendario */

.date{
	width: 100%;
	display: flex;
}

.ui-datepicker {
    background-color: white;
    box-shadow: none !important;
    border: 1px solid lightgray;
}
    
.ui-datepicker .ui-datepicker-header {
    background-color: white;
}

/* Dialog */

.consultaDialog.ui-dialog {
	height: fit-content !important;
    width: 90% !important;
    left: 5% !important;
    top: 3vh !important;
    border: 1px solid #395a8c;
}

.consultaDialog.ui-dialog .ui-dialog-content {
	height: auto !important;
	width: auto !important;
	max-height: 85vh;
}

.solicitacaoDialog.ui-dialog {
	height: fit-content !important;
    width: 90% !important;
    left: 5% !important;
    top: 3vh !important;
    border: 1px solid #395a8c;
}

.solicitacaoDialog.ui-dialog .ui-dialog-content {
	height: auto !important;
	width: auto !important;
	max-height: 85vh;
	padding: 0;
}

.customDialog.ui-dialog{
	height: auto !important;
	width: auto !important;
	max-height: 85vh;
}

.ui-dialog .ui-dialog-titlebar {
    background: linear-gradient(to bottom right, #135186, #3d6ea9);
    color: white;
    font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar-close span, .consultaDialog.ui-dialog .ui-dialog-titlebar-minimize span, .consultaDialog.ui-dialog .ui-dialog-titlebar-maximize span {
    background-color: white;
    border-radius: 4px;
}

.ui-dialog .ui-dialog-content {
	display: flex;
	flex-flow: column nowrap;	
}

/* Outros */

.ui-panelgrid .ui-widget-content {
    background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 0;
    border-color: silver;
    background-color: #ffffff;
    box-shadow: none;
    padding: 5px;
    color: #555;
    background-image: none;
}

.ui-widget-header .ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus{
	box-shadow: none;
}

.ui-radiobutton .ui-radiobutton-box {
    width: 10px !important;
    height: 10px !important;
    line-height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border: 1px solid #c0c0c0 !important;
    cursor: pointer !important;
    right: -1px !important;
    top: -1px !important;
    padding: 0 3px;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    white-space: normal !important;
    max-width: 50vw !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 60% !important;
	white-space: nowrap !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	width: 98%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 96% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
	top: 14px !important;
	right: 14px !important;
}

.ui-button-icon-only{
	padding: 0 !important;
	left: -1px;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
    border: 1px solid #156090;
    background: #186ba0;
    color: #fff;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-hover {
    background: #ebebeb;
    border: none;
    box-shadow: none;
}

.ui-selectonemenu.ui-state-default.ui-state-hover{
	box-shadow:none;
}

.ui-radiobutton-icon {
    margin-left: -3px !important;
    margin-top: -4px;
}

span.ui-radiobutton-icon.ui-icon.ui-c.ui-icon-bullet {
	filter: none !important;
}

.ui-overlaypanel {
    background-color: white;
    box-shadow: none !important;
    border: 1px solid lightgray;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	background: linear-gradient(to bottom right, #135186, #276eb3);
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: normal;
    text-shadow: none;
}

.ui-selectonemenu-panel {
	box-shadow: none !important;
    border: 1px solid lightgray;
    margin-top: -1px;
}

.ui-datalist .ui-datalist-header, .ui-datalist .ui-datalist-footer {
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #124a7b;
    border-radius: 0;
    font-weight: bold;
    background-color: #1c5e96;
    color: white;
}

.ui-datalist.ui-widget {
    width: 25vw;
}

.ui-selectonemenu-label.ui-inputfield.ui-corner-all {
	box-shadow: none;
	padding: 0;
/* 	width: 93%; */
}

.ui-tooltip .ui-tooltip-text {
    background-color: #c0c0c0;
    color: #fff;
    box-shadow:none;
    text-align: justify;
}

.ui-outputlabel.ui-state-error {
    border: 0 none;
    text-decoration: underline #cd0a0a;
    background: none;
    color: #cd0a0a;
}

.ui-datascroller .ui-datascroller-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
/*     margin-bottom: 2vw; */
/*     border: 1px solid #a8a8a8 !important; */
}

.ui-datascroller-content.ui-widget-content.ui-corner-all {
    border: none !important;
    max-height: 300px;
    overflow-y: auto;
}

.ui-widget .ui-outputpanel{
	display:flex;
	flex-flow: column nowrap;
}

.ui-inplace .ui-inplace-editor {
   display: flex
}

.ui-state-hightlight, .ui-widget-content.ui-state-hightlight  {
	background: #b4bed6 !important;
	border: 1px solid red;
}


.ui-widget-overlay {
    background: rgb(42, 45, 68);
    opacity: 0.5;
}

.ui-panelgrid-cell .ui-outputlabel, .ui-outputlabel {
    color: #4f4f4f;
/*     font-variant-caps: all-petite-caps; */
/*     font-size: 20px; */
}

.mensagem {
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: row wrap;
 	-ms-flex-flow: row wrap;
 	-o-flex-flow: row wrap;
 	-webkit-flex-flow: row wrap;
 	flex-flow: row wrap;
	
   	-moz-justify-content: space-between;
 	-ms-justify-content: space-between;
 	-o-justify-content: space-between;
 	-webkit-justify-content: space-between;
 	justify-content: space-between;
	
 	-moz-align-items: flex-start;
 	-ms-align-items: flex-start;
 	-o-align-items: flex-start;
 	-webkit-align-items: flex-start;
}

/* Data Table */

.ui-datatable tbody td {
/*     border: 1px solid #a7acb1 !important; */
}

.ui-datatable th {
    background-color: #f2f5f9 !important;
/*     border: 1px solid #a7acb1; */
}

.ui-datatable .ui-widget-header {
    background-color: #f2f5f9 !important;
    border: 1px solid #d2d6de !important;
}

.ui-datatable-header {
	background-color: #eaeff4 !important;
}

.ui-datatable-odd {
    background-color: #ffffff;
}

.ui-state-highlight .ui-icon{
	filter: brightness(100);
}

.ui-paginator {
	background: linear-gradient(to bottom right, #3d6ea9, #5b87bd);
	border: 1px solid #135186;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-rpp-options {
	background-color: #155288;
    border: 1px solid #155288;
    border-radius: 3px;
    
    color: white;
    text-shadow: none;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
	color: white;
    text-shadow: none;
}
 
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #799cd0;
    background: linear-gradient(to bottom right, #799cd0, #5b87bd) !important;
    color: #fff;
    text-shadow: none !important;
    border-color: #3d5f87;
}

.ui-datatable tr.ui-state-hover, .ui-widget-header .ui-state-hover {
	background: linear-gradient(to bottom right, #f2f5f9, #f2f5f9) !important;
    box-shadow: none !important;
}

.titulo {
	font-size: 20px;
	font-weight: bold;
	font-variant-caps: all-petite-caps;
}

 /* Cores de prazo */
 
td.prazo.verde {
    background-color: #c8f5c8;
	border-bottom: 3px solid #00aa00;
}

td.prazo.amarelo {
    background-color: #fff9ae;
	border-bottom: 3px solid #d0ad00;
}

td.prazo.vermelho {
    background-color: #ffb9b9;
	border-bottom: 3px solid #dc143c;
}

td.prazo.branco {
    background-color: #ffffff;
    color: #c0c0c0;
	border: 1px solid #a8a8a8
}

/* Mensagens */
.ui-tabs {
	border: none;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
    padding: .2em .2em 0;
    background: white !important;
    border-bottom: 1px solid silver;
}

.ui-tabs .ui-tabs-panel {
	padding: .5em 0.5em 0 .5em !important;
	border: 1px solid silver !important;
	border-top: none !important;
	border-radius: 0;
}

.ui-tabs .ui-tabs-nav li {
	background: #e4e4e4;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    border: 1px solid;
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    border: none !important;
    background: rgba(0, 0, 0, 0) !important;
	font-family: "lato", Sans-serif;
}

.ui-messages-info, .ui-message-info {
    color: #3a5cad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.solicitacao {
	padding: 0;
}

#conteudo {
	width: -webkit-fill-available;
/* 	border-right: 1px solid silver; */
}

#barraBtns {
/* 	width: 100px; */
/* 	margin-left: 5px; */
	
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column nowrap;
 	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-flex-flow: column nowrap;
 	flex-flow: column nowrap;
 	
	background: linear-gradient(#c4c4c4,white);
}

.blankSquareBtn {
/* 	background-color: black; */
	
	width: 100px;
	height: 100px;
	
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: center;
 	-ms-justify-content: center;
 	-o-justify-content: center;
 	-webkit-justify-content: center;
 	justify-content: center;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
 	
 	text-decoration: none !important;
 	font-size: 15px;
 	text-align: center;
 	color: gray;
 	border-bottom: 1px solid #e4e4e4;
}

 a.blankSquareBtn:hover  {
	text-decoration: none;
	background-color: #396ba6 !important;
	color: white;
}

.active {
	background-color: white;
	outline: 1px solid white;
	color: #4f4f4f;
}

.blankSquareBtn .ui-state-disabled {
	background-color: #e4e4e4;
	outline: none;
	color: silver;
}

/* Breadcrumb */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: -webkit-box;
  background: #727374;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2vh 0 0 2vw;
  
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  -o-align-self: flex-start;
  -webkit-align-self: flex-start; 
  align-self: flex-start;
}

.breadcrumbs li{
  float: left;
  margin-top: 0 ;
}

.breadcrumbs a{
  padding: .5em 1em .5em 2em;
  padding: 10px 15px 10px 30px;
  float: left;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  text-shadow: none;
  background-color: #155288;
  border: none;
  background-image: linear-gradient(#376aa4, #376aa4);
}

.breadcrumbs li:first-child a{
  padding-left: 1em;
  padding-right: 0.5em;
  border-radius: 5px 0 0 5px;
}

.breadcrumbs a::after,
.breadcrumbs a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.breadcrumbs a::after{ 
  z-index: 2;
  border-left-color: #376aa4;  
}

.breadcrumbs a::before{
  border-left-color: #155288;  
  right: -1.1em;
  z-index: 1; 
}

.breadcrumbs .current {
  background-image: none;
}

.breadcrumbs .current::after,
.breadcrumbs .current::before{
  content: normal;  
}

.breadcrumbs li:hover {
/*  filter: brightness(120%) saturate(90%); */
    font-weight: bold;
}

i.fa.fa-home {
    font-size: 18px;
}

.inlineLogin{
	display: -ms-inline-flexbox; 
 	display: -moz-inline-flexbox;
 	display: -webkit-inline-flex;
 	display: -o-inline-flex;
 	display: inline-flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
 	
    -moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;

 	-moz-justify-content:center;
 	-ms-justify-content:center;
 	-o-justify-content:center;
 	-webkit-justify-content:center; 
 	justify-content:center;
 	
 	width: 100%;
/*  	min-height: 86vh */
}

.loginForm {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: column nowrap;
 	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-flex-flow: column nowrap;
 	flex-flow: column nowrap;
 	
    -moz-align-items: baseline;
 	-ms-align-items: baseline;
 	-o-align-items: baseline;
 	-webkit-align-items: baseline; 
 	align-items: baseline;
 	
 	border: 1px solid silver;
 	border-radius: 3px;
 	padding: 25px;
 	background: white;
 	
 	margin: 2vh 2vw;
 	min-height: 400px;
    min-width: 250px;
}

.loginForm .titulo {
	color: #1a568c;
	font-size:35px;
	margin-bottom: .1em;
}

.loginForm .ui-inputfield, .loginForm span {
	margin-bottom: 1em !important;
}

.loginForm label {
	color: #1a568c;
/* 	margin-top: 20px; */
}

.btnDenuncia {
	list-style: none;
	margin: 1vh 2vw;
	
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
  
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	
  	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	-moz-align-self: center;
 	-ms-align-self: center;
 	-o-align-self: center;
 	-webkit-align-self: center; 
 	align-self: center;
	
	width: 400px;
	
/*	Estilo do botão */
	
	border: 1px solid #c0c0c0;
    border-radius: 7px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #9f0000 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    
	
/* 	Estilo do link */
	text-decoration: none;
	color: #1b4882;
	text-decoration: none;	
	font-size: 25px;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: left;
}

.btnDenuncia > .column {
    margin-left: 1.7em;
}

.btnDenuncia > img {
    background-color: #9f0000;
    padding: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.btnDenuncia:hover {
    background-position: -100% 0;
}

.tituloDenuncia {
    color: darkred;
    font-size: 35px;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
}

.btnDenuncia:hover .tituloDenuncia{
	color: white !important;
	-webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
}

.btnDenuncia:hover .subTitulo {
	color: #eaacac!important;
	-webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
}
 
 
.anexo {
    border: 1px solid silver;
    width: fit-content;
    width: -moz-fit-content;
    padding: 3px;
    margin-top: 10px;
    text-decoration: none;
}

.anexo:hover {
	text-decoration: underline;
}

.ui-chkbox {
    margin-bottom: -20px;
    margin-left: 5px;
}